@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color: #2ecc71;
  --error-color: #e74c3c;
  --background-color: #f1f1f1;
  --text-primary-color: #333;
  --text-secondary-color: #555;
}

body {
  background: var(--background-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-primary-color);
}

header {
  background: #fff;
  padding: 30px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: var(--text-primary-color);
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 40px;
  margin: 0 auto;
}

/* Homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}

.task-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color:#f134b5;
  
}

.task-details p {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;

}

.task-details span {
  
  position:absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--background-color);
  padding: 6px;
  border-radius: 50%;
  color: var(--text-primary-color);
  
}
.task-details {
  padding: 10px 16px;
  margin: 20px 0;
  font-weight: bold;
  
}

.task-details:hover {

  background-color: rgb(248, 255, 57);
  font:bold;
}

.task-details.marked {
  background-color: rgb(255, 25, 0);
  border-color: red;
}


.task-details.deleted {
  opacity: 0.5;
  font:bold;
}

.task-details.marked h3 {
  text-decoration: line-through;
}

.delete-button {
  display: block;
  color: red;
  margin-top: 10px;
  cursor: pointer;
}


/* Form */
label,
input {
  display: block;
}

input {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
#login:hover{
  background-color: #45a049;
}
form button {
  background: var(--primary-color);
  border: 0;
  color: #fff;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}
 button {
  color: #fff;
  background: var(--primary-color);
  border: 0;
  background-color: #ff2465;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 20px;
}
 button:hover{
  background-color: #c3335e;
}

div.error {
  padding: 10px;
  background: var(--error-color);
  color: #fff;
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error-color);
  background: #f9c3c0;
}

/* Typography */
h1 {
  color: #f1356d;
  margin-bottom: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary-color);
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-primary-color);
  margin-bottom: 5px;
}
label {
  font-weight: bold;
  color: #555;
  margin-right: 5px;
}
/* styles.css */
.select-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 16px;
  outline: none;
}

.select-box option {
  background-color: white;
  color: #333;
  font-size: 16px;
}
.create {
  border: 20px solid #e4e4e4;
  border-radius: 30px;
  padding: 10px;
}
.properties {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border-color: #f1356d;
}

.properties p {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
 
}

.properties label {
  font-weight: bold;
  margin-right: 5px;
  color: #ff2465;
  font:bold 5px;
}
.tasks h1{
  width:300px;
  border: 15 solid #e4e4e4;
  border-radius: 30px;
  padding: 10px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  background: url('miniuinim.mp4') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.error-label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  padding-top: 20px;
 
}
.home .background-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  margin-top: 80px;
}
.tasks h1{
  font-weight: bold;
  color: #d94471;
  border-radius: 10px var(--background-color);
  font:bold 5px;
  margin: 0 auto 5px; /* Set margin to auto for horizontal centering */
  text-align: center;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 220px auto 0;

}





input {
  justify-content: center;
  align-items: center;
  width:auto;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Quicksand";
  color: #333;
}

#login {
  display: block;
  margin: 0 auto;
}
.add{
  display: block;
  margin-left: 50px;
  background-color:#f1356d
}
.add:hover{
  background-color: #85194f;
}
.Type {
  margin-top: 80px;
  margin-bottom: 50px;

}
.combobox  {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
}

.task-list {
  height: 500px; /* Set the desired height for the task list container */
  overflow-y: scroll; /* Enable vertical scrolling */
}
